/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Debug */

.block {
    display: block;
}

/* Flex */

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* General */

.background-black {
    background-color: black;
}

.background-gray {
    background-color: rgba(255, 255, 255, 0.264);
}

.text-white {
    color: white;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Header */

.rotate {
    transform: rotate(45deg);
}

.flex-right .background-gray {
    padding: 0.25rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

/* Main */

.widith {
    width: 90%;
}

.dimension {
    width: calc(100% / 7);
}

.on-top {
    z-index: 1;
}

.positioning {
    bottom: 0px;
    left: 0px;
    padding: 0.5rem 0.75rem;
}

